
/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2rem;
    color: #ff4d4d;
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #333;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"], 
input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #27ae60;
}

a {
    color: #ff4d4d;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
    font-size: 0.9rem;
}

/* Estilos para el botón "Volver al inicio" */
.back-to-home {
    text-align: center;
    margin-top: 30px;
}

.back-btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #fd0303;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color:C;
}



/* Sección Hero */
.hero {
    background: linear-gradient(135deg, #333235, #ff0101);
    color: white;
    padding: 100px 20px;
    text-align: center;
    border-bottom: 5px solid #ffffff;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
}