/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* Sección Hero */
.hero {
    background: linear-gradient(135deg, #333235, #ff0101);
    color: white;
    padding: 100px 20px;
    text-align: center;
    border-bottom: 5px solid #ffffff;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    max-width: 600px;
    margin: 0 auto;
}

/* Estilos para la sección de suscripción */
.subscription {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
    margin-top: -20px; /* Esto hace que la sección sobresalga un poco de la hero */
}

.subscription-container {
    max-width: 600px;
    margin: 0 auto;
}

.subscription h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 15px;
}

.subscription p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #666;
}

.subscription-form {
    display: flex;
    flex-direction: column; /* Cambio de dirección para los campos */
    align-items: center;
    gap: 15px; /* Espacio entre los campos */
    width: 100%;
}

.subscription-form input {
    width: 80%; /* Ancho del 80% del formulario */
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    margin: 0 auto;
}

.subscription-form button {
    padding: 12px 30px;
    font-size: 1rem;
    color: white;
    background-color: #fc0404;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 80%;
    margin-top: 15px;
}

.subscription-form button:hover {
    background-color: #0a0a0a;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

footer p {
    font-size: 1rem;
    color: #bbb;
}

/* Estilos para el botón "Volver al inicio" */
.back-to-home {
    text-align: center;
    margin-top: 30px;
}

.back-btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #fd0303;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color:C;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .subscription h2 {
        font-size: 2rem;
    }

    .subscription-form input {
        width: 90%;
    }

    .subscription-form button {
        padding: 12px 20px;
    }

    .back-btn {
        padding: 10px 25px;
    }
}


p {
    text-align: center;
    color: #333;
}

a {
    color: #ff4d4d;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}